:root {
  --color-egg-white: #fcfcfc;
	--color-sun-yellow: #ffc94b;
	--color-cream-orange: #fb9043;
	--color-solarized-red: #f25f64;
	--color-pine-green: #368230;
	--color-sad-blue: #205f64;

	color: var(--color-sad-blue);
	font-family: Oxygen, sans-serif;
	font-weight: 100;
}

body {
	background-color: var(--color-egg-white);
}

.wrapper {
	@apply container flex max-w-4xl mx-auto;
}

@media (max-width: 58rem) {
	.wrapper {
		@apply mx-4;
		max-width: calc(100% - 2rem);
	}
}

.main-header {
	@apply pt-4 pb-2 mb-3 flex;

	border-bottom: 2px dashed var(--color-sun-yellow);
}

.header-logo {
	height: 64px;
	width: 64px;
}

.title-wrapper {
	display: flex;
	flex-direction: column-reverse;
	margin-left: 16px;
	margin-bottom: -8px;
}

.title-wrapper span {
	color: var(--color-cream-orange);

	font-size: 58px;
	font-family: 'Fira Code', monospace;
	font-weight: 600;
}

@media (max-width: 34rem) {
	.header-logo {
		height: 48px;
		width: 48px;
	}

	.title-wrapper span {
		font-size: 42px;
	}
}

nav {
	@apply flex;
}

nav ul {
	@apply flex gap-12 mb-4;
	list-style: none;
}

@media (max-width: 28rem) {
	nav ul {
		@apply flex gap-6 mb-4;
	}
}

@media (max-width: 23rem) {
	nav ul {
		@apply flex gap-4 mb-4;
	}
}

@media (max-width: 21rem) {
	nav ul {
		@apply flex gap-2 mb-4;
		/* list-style: none; */
	}
}

nav ul li {
	display: inline-block;
}

nav ul li a {
	color: var(--color-solarized-red);
	font-size: 20px;
	font-weight: 600;
}

nav.article-tags ul {
	@apply flex gap-2 mt-2;
}

nav.article-tags ul li a {
	font-size: 12px;
	@apply py-0 px-3;
}

nav.top-menu ul li a:hover {
	text-decoration: underline dashed;
}

article.post-preview {
	@apply mb-4;
	display: flex;
	flex-direction: row;
}

article.post-preview .publication-date {
	display: block;
	width: 4rem;
	height: 3.5rem;
	text-align: center;
	border-color: var(--color-cream-orange);
	border-style: dotted;
	border-width: 1.5px;
	@apply mr-4 mt-2 rounded-lg;
}

.publication-date time {
	font-weight: 800;
	color: var(--color-sad-blue);
}

.year {
	font-size: 13px;
}

.post-preview-text {
	flex: 1;
}

article.post-preview header h2 {
	color: var(--color-cream-orange);

	font-size: 24px;
	font-weight: 600;
}

article.post-preview p {
	font-size: 18px;
	font-weight: 400;
}

footer.bottom-footer {
	@apply mt-8 mb-8 pt-2;
	border-top: 2px dashed var(--color-sun-yellow);
}

footer.bottom-footer nav ul {
	@apply gap-16;
}

h1.section-title {
	color: var(--color-cream-orange);
	font-family: 'Fira Code', monospace;
	font-size: 48px;
	font-weight: 600;
}

h1.optional-title {
	color: var(--color-sad-blue);
	font-size: 48px;
	font-family: 'Fira Code', monospace;
	font-weight: 600;
	margin-bottom: 8px;
}

main article h1 {
	margin-bottom: -16px;
	font-family: 'Fira Code', monospace;
}

main article time {
	color: var(--color-solarized-red);

	margin-top: -20px;
	font-size: 12px;
	font-weight: 600;
}

.article-content {
	margin-top: 1rem;
	font-size: 18px;
}

.article-content strong {
	font-weight: 600;
}

.article-content blockquote {
	@apply border-2 border-dashed mb-4 pt-2 pl-3 pr-3;
	border-color: var(--color-sun-yellow);
}

.language-id {
	visibility: hidden;
	display: none;
}

.astro-code {
	@apply p-2 rounded-xl mb-4 border-2 border-dashed;
	border-color: var(--color-cream-orange);
}

code {
	font-family: 'Fira Code', monospace;
}

.article-content code:not(.code-container code,.astro-code code) {
	border-radius: 4px;
	border-color: var(--color-cream-orange);
	border-width: 1px;
	border-style: dashed;
	padding-left: 2px;
	padding-right: 2px;
}

.article-content a {
	color: var(--color-solarized-red);
}

.article-content a:hover {
	text-decoration: underline wavy;
}

.article-content p {
	@apply mb-4;
}

.article-content h2 {
	color: var(--color-cream-orange);
	font-family: 'Fira Code', monospace;
	font-size: 26px;
	font-weight: 400;
}

.article-content h3 {
	color: var(--color-cream-orange);
	font-size: 22px;
	font-weight: 400;
}

.article-content ol {
	@apply mb-4;
	list-style: decimal;
	padding-left: 32px;
}

.article-content ul {
	@apply mb-4;
	list-style: circle;
	padding-left: 32px;
}

.article-content img {
	@apply rounded-xl block mx-auto;
}

.article-content canvas {
	@apply rounded-xl block mx-auto mb-4;
}

img.left-img {
	@apply rounded-xl block w-1/4 float-left mr-4;
}

.tags-list {
	@apply list-none flex gap-4 mt-4 flex-wrap;
}

.tag {
	@apply inline-block text-lg px-2 py-1 rounded-xl;
	background-color: var(--color-sad-blue);
	color: var(--color-egg-white);
}

.tag:hover {
	background-color: var(--color-solarized-red);
}
