.segmendted-text-div {
	width: 100%;
}
.segmendted-text-table {
	margin: 0 auto;
	border-spacing: 0;
	border: 1px solid;
	border-collapse: separate;
	border-radius: 8px;
}
.segmendted-text-td {
	border-left: 1px solid;
	padding: 0 12px;
	font-family: 'Fira Code', monospace;
}
.segmented-text-overbraces .segmented-text-underbraces {
	float:left;
	clear: none;
}
