---
import "../styles/blog.css";
import "@fontsource/fira-code";
import "@fontsource/oxygen";

export interface Props {
	title: string;
	description: string;
	enableMath?: boolean
	canonical?: URL | undefined
	ogType?: string | undefined
}

const { title, description, enableMath, canonical, ogType } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/webp" href="/favicon.webp" />

<title>{title}</title>
<meta name="title" content={title} />
{description && <meta name="description" content={description} />}
{canonical &&
  <link rel="canonical" href={canonical} />}
{enableMath &&
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.0/dist/katex.min.css"
	integrity="sha384-Xi8rHCmBmhbuyyhbI88391ZKP2dmfnOl4rT9ZfRI7mLTdk1wblIUnrIq35nqwEvC" crossorigin="anonymous">
}
<meta property="og:type" content={ogType || 'website'} />
<link rel="alternate" type="application/rss+xml" title="RSS Feed for blog.coderspirit.xyz" href="/rss.xml" />
