---
import "../styles/blog.css";

export interface Props {
	title: string;
	description: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="icon" type="image/png" href="/favicon.png" />

<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- TODO: Social meta -->
<!-- TODO: Fonts -->
