<header class="wrapper main-header">
	<a class="header-link" href="/">
		<img class="img-logo" src="/castarco.png" width="32" height="32" />
		<span class="blog-title">Coder Spirit</span>
	</a>
</header>

<style>
	.main-header {
		padding-top: 1rem;
		padding-bottom: 0;
		height: 7rem;

		display: flex;
		justify-content: space-between;

		border-bottom: 2px solid var(--theme-divider);
	}

	nav {
		display: flex;
		justify-content: space-between;
	}

	.img-logo {
		width: 2.5rem;
		height: 2.5rem;
	}

	a {
		text-decoration: none;
		display: inline-flex;
	}

	span.blog-title {
		font-size: 50px;
	}

	a.header-link:hover {
		text-decoration: none;
	}
</style>