---
import Page from "../pages/[...page].astro";
import type { PostPage } from "../utils";

export interface Props {
	page: PostPage
}

const { page } = Astro.props as Props

---

<footer class="wrapper">
	<nav>
		<ul>
			{page.url.prev !== undefined
				? <li><a href={page.url.prev}>Previous</a></li>
				: null
			}
			{page.url.next !== undefined
				? <li><a href={page.url.next}>Next</a></li>
				: null
			}
		</ul>
	</nav>
</footer>
