---
---

<header class="wrapper main-header">
	<img class="header-logo" alt="Coder Spirit Logo" src="/images/castarco-blue.webp" />
	<div class="title-wrapper"><span>Coder Spirit</span></div>
</header>
<nav class="wrapper top-menu">
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/tags/">Tags</a></li>
		<li><a href="/about/">About</a></li>
		<li><a href="/projects/">Projects</a></li>
	</ul>
</nav>
