---
export interface Props {
	title: string
	description: string
	publishDate: Date
	url: string
}

const { title, description, publishDate, url } = Astro.props as Props
---

<article class="post-preview">
	<header>
		<h2><a href={url}>{title}</a></h2>
		<!-- <time>{publishDate}</time> -->
	</header>
	<p>{description}</p>
</article>
