---
import { Page } from "astro";
import BaseHead from "../components/BaseHead.astro";

export interface Props {
	page: Page<Record<string, any>>
}

let title = "Coder Spirit";
let description = "Geeky Computer Science stuff.";

---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
	</head>
	<body>
	</body>
</html>
